.products-page{

padding:30px;
background:#f6faf7;
min-height:100vh;

}


.products-page h2{

color:#1faa59;
margin-bottom:30px;

}



.product-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}



.product-card{

background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 15px #ddd;

}



.product-card h4{

color:#1faa59;

}



.product-card h3{

color:#e67e22;

}



.cart-btn{

background:#1faa59;
color:white;
border:none;
padding:10px 20px;
border-radius:20px;
cursor:pointer;

}



.cart-btn:hover{

background:#168c48;

}



.error{

color:red;

}