.profile-page{


min-height:100vh;

background:#f6faf7;

display:flex;

justify-content:center;

align-items:center;

padding:40px;


}




.profile-card{


background:white;

width:650px;

padding:40px;

border-radius:25px;


box-shadow:

0 10px 30px rgba(0,0,0,.1);


animation:slideUp .5s ease;


}





@keyframes slideUp{


from{

opacity:0;

transform:translateY(30px);

}


to{

opacity:1;

transform:translateY(0);

}


}





.profile-header{


text-align:center;

margin-bottom:35px;


}



.profile-avatar{


width:90px;

height:90px;

border-radius:50%;


background:#1faa59;

color:white;


display:flex;

align-items:center;

justify-content:center;


font-size:45px;


margin:auto;

margin-bottom:15px;


}



.profile-header h1{


color:#1faa59;

margin-bottom:8px;


}



.profile-header p{


color:#777;


}






.profile-grid{


display:grid;

grid-template-columns:

repeat(2,1fr);


gap:25px;


}





.profile-field{


display:flex;

flex-direction:column;


}




.profile-field label{


font-weight:600;

margin-bottom:8px;

color:#555;


}





.profile-field input{


padding:14px;

border-radius:12px;

border:1px solid #ddd;

font-size:15px;


}



.profile-field input:focus{


outline:none;

border-color:#1faa59;


}




.update-btn{


margin-top:35px;

width:100%;


padding:15px;


background:#1faa59;


color:white;

border:none;


border-radius:15px;


font-size:17px;


font-weight:700;


cursor:pointer;


transition:.3s;


}





.update-btn:hover{


background:#16884a;

transform:scale(1.02);


}






@media(max-width:700px){


.profile-page{

padding:20px;

}



.profile-card{

padding:25px;

}



.profile-grid{


grid-template-columns:1fr;


}


}